.box1 {
    display: flex;
    height: 25%;
    background-color:#1f2937;
    color: white;
}

img {
    display: flex;
    height: 70%;
}

.box1headerlogo {
    display: flex;
    width: 50%;
    justify-content:center;
    padding-top: 15px;
}
.box1headerlinks {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 15px;
}
.box1subtex {
    display: flex;
    width: 50%;
    justify-content:center;
}
.box1img {
    display: flex;
    width: 50%;
}